body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    padding: 1rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 2px solid #000000;
}

.navbar-logo {
    height: 50px;
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav-links {
    margin-right: 5rem;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 500;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-top: 7rem;
}

.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #f4811e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
}

.button:hover {
    background-color: #d86d0f;
}

h1 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 2rem;
    text-align: center;
}

.values-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.left-column, .right-column {
    width: 48%;
}

h2 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 1rem;
}

.value-item {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  flex: 1;
  margin-bottom: 0;
  font-weight: 500;
}

.value {
  flex: 0 0 100px;
  padding: 0.5rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  text-align: right;
}

input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .values-container {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
    }

    .right-column {
        margin-top: 2rem;
    }
}