.navbar {
    width: 100%;
    padding: 1rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: auto;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 2px solid #000000; 
}
  
.navbar-logo {
    height: 50px;
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 10rem;
}

.navbar-logo-1 {
    height: 50px;
    margin-left: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.navbar-logo-2 {
    height: 50px;
    margin-left: 40rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.content {
    text-align: center;
    margin-top: 40px;
}

.content h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.data-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.data-item {
    margin: 0 100px;
}

.data-item h2 {
    font-size: 24px;
    font-weight: normal;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 30px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(255, 153, 75, 0.693);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    max-width: 100px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

.card:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
